AUTH_SECRET=                          # Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_MICROSOFT_ENTRA_ID_ID=
AUTH_MICROSOFT_ENTRA_ID_SECRET=
AUTH_MICROSOFT_ENTRA_ID_TENANT_ID=    # https://login.microsoftonline.com/{tenant_id}/v2.0
CREDENTIALS_USERNAME=
CREDENTIALS_PASSWORD=
SERVICE_ENDPOINT=